<!DOCTYPE html>
<html>
<head>
  <title>Competition Details</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="icon" href="/assets/FrontOffice/css/favicon.png"/>
  <!-- Bootstrap core CSS -->
  <link href="/pidev4F/src/assets/FrontOffice/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/pidev4F/src/assets/FrontOffice/css/style.css" rel="stylesheet">
  <link href="/pidev4F/src/assets/FrontOffice/css/responsive.css" rel="stylesheet">
  <link href="/pidev4F/src/assets/FrontOffice/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/pidev4F/src/assets/FrontOffice/fonts/website-font/stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="/pidev4F/src/assets/FrontOffice/css/mislider.css" rel="stylesheet" type="text/css" />
  <link href="/pidev4F/src/assets/FrontOffice/css/mislider-custom.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/pidev4F/src/assets/FrontOffice/css/animate.css">
  <link rel="stylesheet" href="/pidev4F/src/assets/FrontOffice/css/lightbox.min.css">
  <app-header-front></app-header-front>

  <script src="/pidev4F/src/assets/FrontOffice/js/jquery.min.js" type="text/javascript"></script>
  <script src="/pidev4F/src/assets/FrontOffice/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/pidev4F/src/assets/FrontOffice/js/scrolling-nav.js" type="text/javascript"></script>
  <script src="/pidev4F/src/assets/FrontOffice/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
  <script src="/pidev4F/src/assets/FrontOffice/js/custom.js" type="text/javascript"></script>
</head>
<body>
<section>
  <h2>Competition Details</h2>
  <div class="details-container">
    <div class="detail">
      <strong>Competition ID:</strong> {{ competition?.id }}
    </div>
    <div class="detail">
      <strong>Name:</strong> {{ competition?.name }}
    </div>
    <div class="detail">
      <strong>Date:</strong> {{ competition?.date }}
    </div>
    <div class="detail">
      <strong>Venue:</strong> {{ competition?.venue }}
    </div>
    <div class="detail">
      <strong>Category:</strong> {{ competition?.category }}
    </div>
    <div class="detail">
      <strong>Description:</strong> {{ competition?.description }}
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
