<!DOCTYPE html>
<html>
<head>
  <title>Registration Details</title>
</head>
<body>
<section>
  <h2>Registration Details</h2>
  <div class="details-container">
    <div class="detail">
      <strong>Registration ID:</strong> {{ registration?.rid }}
    </div>
    <div class="detail">
      <strong>Dancer Name:</strong> {{ registration?.dancername }}
    </div>
    <div class="detail">
      <strong>Competition:</strong> {{ registration?.competition?.id }}
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
